<section>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        @for (category of pricing; track category) {
        <div class="border-gray-600 border p-3 mb-1 bg-white rounded-md">
            <h4 class="text-2xl" [ngStyle]="{ color: category.color }">
                {{ category.category }}
            </h4>
            <div class="flex flex-row items-center pb-4">
                <h6 class="text-xl text-teal-950">
                    {{ category.price | currency : "$" }}
                </h6>
                <p
                    class="text-xl pl-10"
                    [ngClass]="{
                        'text-red-600': category.stock < 20,
                        'text-green-600':
                            category.price >= 20 && category.stock < 50,
                        'text-amber-400': category.stock >= 50
                    }"
                >
                    x{{ getAvailableStock(category.category, category.stock) }}
                </p>
                <fa-icon [icon]="faTicket" class="pl-1"></fa-icon>
            </div>
            <button
                [disabled]="
                    getAvailableStock(category.category, category.stock) == 0
                "
                (click)="
                    addItem(
                        category.category,
                        category.price,
                        category.color,
                        category.stock
                    )
                "
                class="justify-self-start hover:bg-blue-500 bg-blue-600 hover:cursor-pointer disabled:bg-opacity-25 disabled:cursor-auto disabled:bg-gray-600 text-white rounded-md px-2 py-1"
            >
                Añadir al carrito
            </button>
        </div>
        }
    </div>
</section>
