<article class="p-2">
    <div class="rounded-md p-4 border border-gray-600 bg-slate-50">
        <div class="flex flex-row">
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt" class="text-yellow-400"></fa-icon>
            <p class="font-bold text-md pl-1 text-black">+</p>
            <fa-icon [icon]="faUser" class="text-gray-500 pl-6"></fa-icon>
            <p class="font-bold text-md pl-1 text-black"><span class="text-teal-700">256</span> usuarios</p>
        </div>
        <div class="flex flex-row pt-4">
            <fa-icon [icon]="faUser" class="text-gray-500 pe-2"></fa-icon>
            <p class="font-medium text-lg text-black pe-8">Usuario 1</p>
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
            <fa-icon [icon]="faStar" class="text-yellow-400"></fa-icon>
        </div>
        <div class="flex flex-row">
            <p class="font-normal text-lg">Súper genial</p>
        </div>
    </div>
</article>
